<h2>Your basket:</h2>
<div *ngIf="basketList.length == 0" class="noItemsMessage">
  <p>You don't have any products in your basket yet.</p>
</div>
<div *ngIf="basketList.length > 0">
  <div class="itemsHolder" *ngIf="readyToDisplay">
    <app-basket-item *ngFor="let thisBasket of basketList" [basket]="thisBasket" (totalPriceUpdate)="recalculateTotalPrice($event)"></app-basket-item>
  </div>
  <form (ngSubmit)="orderEverything(f)" #f="ngForm" id="orderFrom">
    <p>The total price of your order will be: &euro; {{ totalPrice }}.</p>
    <button value="Order now" class="yamsButton" type="submit">Order now</button>
  </form>
</div>

