<h2>Make a new animator</h2>
<form (ngSubmit)="makeAnimator(f)" #f="ngForm" class="createForm">
  <div class="formRow">
    <label>Name:</label>
    <input type="text" [(ngModel)]="animatorName" name="animatorName">
  </div>
  <div class="formRow">
    <label>Link:</label>
    <input type="text" [(ngModel)]="animatorLink" name="animatorLink">
  </div>
  <div class="formRow">
    <label>Image:</label>
    <input type="text" [(ngModel)]="animatorImage" name="animatorImage">
  </div>
  <button value="Create animator" class="yamsButton" type="submit">Create animator</button>
</form>
