#itemContentContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

#itemInfoLeft{
  width: 40%;
}

#itemInfoLeft h2{
  font-size: 2vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

#itemShadowGiver{
  width: 70vh;
  height: 70vh;
  box-shadow: inset 0vh 0vh 2vh black;
  position: absolute;
}

#itemInfoLeft img{
  width: 70vh;
  height: 70vh;
  margin-bottom: 3vh;
}

#itemInfoRight{
  width: 40%;
  min-height: 80vh;
  padding-top: 1vh;
}

#itemInfoRight p{
  font-size: 1.6vw;
}

#itemPrice{
  margin: 2vh auto;
  background-color: #4290de;
  width: 5vw;
  height: 5vw;
  transform: rotate(45deg);
  box-shadow: 0vh 0vh 3vh 1vh #4290de;
  padding-top: 0.6vw;
  padding-left: 0.5vw;
  margin-bottom: 5vh;
}

#itemPrice h6{
  transform: rotate(-45deg);
  color: white;
  font-size: 1.7vw;
  line-height: 3vw;
}

#itemInfoRight .yamsButton{
  margin: 0px auto;
  width: 50%;
  height: 8vh;
  line-height: 7.7vh;
  font-size: 2vw;
}
