<div class="itemRow">
  <form (ngSubmit)="editItem(f)" #f="ngForm">
    <input type="text" name="itemName" [(ngModel)]="itemName" class="nameBox">
    <input type="text" name="itemDescription" [(ngModel)]="itemDescription" class="descriptionBox">
    <input type="number" name="itemPrice" [(ngModel)]="itemPrice" class="priceBox">
    <input type="text" name="itemImage" [(ngModel)]="itemImage" class="imageBox">
    <input type="text" name="itemType" [(ngModel)]="itemType" class="typeBox">
    <select name="itemAnimatorID" [(ngModel)]="itemAnimatorID">
      <option *ngFor="let animator of animatorList" value="{{ animator.getAnimatorID() }}">{{ animator.getAnimatorName() }}</option>
    </select>
    <button value="Update" class="yamsButton" type="submit">Update</button>
  </form>
  <form (ngSubmit)="deleteItem(f)" #f="ngForm">
    <button value="Delete" class="redYamsButton" type="submit">Delete</button>
  </form>
</div>

