<div id="homeBanner">
  <div class="blueTransparentBox" id="homeLeftBox">
    <h1>Youtube Animator Merch Shop!</h1>
    <p>Welcome, to the Youtube Animator Merch Shop. The place where you can buy merch from your favorite creator(s).</p>
    <hr>
    <h2>What is YAMS?</h2>
    <p>The YAMS(short for Youtube Animator Merch Shop), is a webshop where you can buy merch from all your favorite youtube animators.</p>
    <hr>
    <h2>Why YAMS?</h2>
    <p>We all like to buy merch from our favorite youtube animators, and most of animators have a webshop on their own, so why would you buy your merch here, and not on their website you ask?</p>
    <p>Well, most of these stores only sell the products of one specific animator. On this webshop, you can buy merch from most of them together. This way, you'll recieve all your products together at the same time, and will save you some shipping costs!</p>
    <hr>
    <p>And don't worry, the price you pay for the products will still go to the associated creator. So you will still support them just as much as if you would buy it on their own website.</p>
  </div>
  <div class="blueTransparentBox" id="homeRightBox">
    <h2>Buy your merch now!</h2>
    <div id="homeShopButton" class="homeButton yamsButton" [routerLink]="['/shop']">Start shopping</div>
    <p>or</p>
    <div id="homeLogInButton" class="homeButton yamsButton">Log in</div>
    <p>or</p>
    <div id="homeRegisterButton" class="homeButton yamsButton">Register</div>
  </div>
</div>
