#basketOrderContainer{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3vh;
}

.meSeparation{
  width: 95%;
  background-color: #4290de;
  box-shadow: 0px 0vh 0.7vh 0.3vh #4290de;
  margin: 2vh auto;
  margin-bottom: 3.5vh;
}

